@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato";
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

/*header "cabeçalho*/
#cab {
  display: flex;
  width: 100%;
  height: 84px;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 105px;
  box-sizing: border-box;
}

.img-q {
  width: 69.71px;
  height: 56px;
}
.img-qrpag {
  width: 129px;
  height: 37px;
}

.logo-q {
  position: absolute;
  width: 69.71px;
  height: 56px;
  left: 105px;
  top: 23px;
}

.logo-qrpag {
  position: absolute;
  width: 129px;
  height: 37px;
  left: 183px;
  top: 23px;
}

.card-header {
  background: linear-gradient(
      90deg,
      #e12287 0%,
      rgba(179, 87, 169, 0.695312) 53.65%,
      rgba(89, 190, 236, 0.23) 100%
    ),
    url(imgs/imagem.png);
  background-repeat: no-repeat;
  background-size: initial;
  text-align: left;
  color: white;
  width: 100%;
  height: 653px;
  display: flex;
  align-items: last baseline;
}

.card-header__wrapper {
  width: 631px;
  margin-left: 105px;
  margin-bottom: 75px;
}

.card-header__wrapper h2 {
  width: 486.73px;
  font-weight: 900;
  font-size: 48px;
  line-height: 54px;
}

.card-header__wrapper p {
  width: 631px;
  height: 105px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin:20px 0;
}


.card-header__wrapper a {
  box-sizing: border-box;
  width: 210px;
  height: 43px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  justify-content: center;
  isolation: isolate;
}


#model-section {
  position: relative;
  width: 1097px;
  height: 1273px;
  margin: auto;
  padding-top: 55px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#model-section img {
  width: 544px;
  height: 317px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 40px;
  text-decoration: none;
}
.button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
}
#cab a {
  width: 192.19px;
  height: 34.45px;
  background: #e12287;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
  justify-content: center;
}

.fonte-a {
  position: absolute;
  width: 146px;
  height: 15px;
  left: calc(50% - 146px / 2 - 11.5px);
  top: 13px;
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
}

.color-white {
  color: #ffffff;
}

.color-pink {
  color: #e12287;
}

.color-black {
  color: #323232;
}

.fonte-h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #e12287;
}

.fonte-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.dpri {
  height: 341px;
  width: 1023px;
  justify-content: space-between;
}

.text-top {
  width: 442px;
  height: 182px;
}

.dpri > img {
  left: 477px;
  top: 0px;
}
.dseg {
  width: 1045.09px;
  height: 333px;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.dseg > img {
  left: 0px;
  top: 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.dterc {
  width: 1023px;
  height: 341px;
  justify-content: space-between;
}

.dterc > img {
  left: 477px;
  top: 0px;
}

.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
}
.align-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
}
.galeria {
  padding-left: 18px;
  padding-right: 19px;
}

.image-footer {
  position: absolute;
  width: 1658.27px;
  height: 1297.08px;
  left: -99.53px;
  top: 3006px;
}

#feedback-header {
  width: 808px;
  margin:0 auto;
}

.img {
  width: 48px;
  height: 48px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

#feedback-header h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.feedback-client {
  display: grid;
  width: 1023px;
  margin:0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.feedback-client h3 {
  color: #e12287;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.feedback-client p {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.feeds__wrapper {
  width: 205px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.cliente-image {
  width: 924px;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cliente-image h2 {
  width: 466px;
  margin: auto;
}

.patrocinadores {
  margin-top: 65px;
  margin-bottom: 65px;
  height: 138px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.patrocinadores img {
  width: 138px;
  height: 138px;
  border-radius: 60px;
}

.card-video {
  background: #e12287 url(imgs/rectangle-text.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  color: white;
  width: 1440px;
  height: 900px;
  position: relative;
}

.card-video > h2 {
  position: absolute;
  width: 808px;
  height: 48px;
  left: 316px;
  top: 10px;
  bottom: 1264px;
  color: #ffffff;
}

.card-video > p {
  position: absolute;
  width: 945px;
  height: 163px;
  left: 248px;
  top: 153px;
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: left;
}

.col-video2 {
  position: absolute;
  width: 734px;
  height: 482px;
  left: 353px;
  top: 350px;
}

.video2 {
  position: absolute;
  width: 100%;
  height: 100%;
}

#evento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 145px;
  padding-bottom: 100px;
}

#evento > h2 {
  width: 808px;
  left: 316px;
}

#evento > p {
  width: 688px;
  height: 68px;
}

#evento > a {
  width: 207px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  background: #e12287;
  border-radius: 20px;
}

#line1 {
  width: 1440px;
  height: 0px;
  border: 1px solid rgba(150, 150, 150, 0.5);
}

#rodape {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#rodape > p {
  width: 725px;
  height: 68px;
}

.fonte-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

@media only screen and (min-width: 0px) and (max-width: 400ppx) {
}
@media only screen and (min-width: 401px) and (max-width: 800ppx) {
}
@media only screen and (min-width: 801px) and (max-width: 1200ppx) {
}

@media only screen and (max-width: 900px) {

}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}